@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: "fonteLogo";
  src: url('../fonts/mote-cainge.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8EDE3;
    --second: #DFD3C3;
    --thrd: #D0B8A8;
    --fourt: #8D493A;
  }
}

body {
  @apply font-body; 
  color: var(--foreground);
  background: var(--background);
}

/* Classes personalizadas */
.font-logo {
  font-family: "fonteLogo", sans-serif;
}

.font-body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.text-indent {
  text-indent: 1em; /* Ajuste o valor para o tamanho desejado */
}

